.p1{
    text-align: start;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 150%;
    
    color:white;
}
body{
    background-image: url('bg1.jfif');
}
.h2{
    text-align: start;
    color: white;
    text-shadow: 0 0 9px solid yellow;
    font-size: 350%;
}